---
import Layout from "../../layouts/Layout.astro";
import { config } from "../../config";
import { getCategoryData } from "../../utils/getMarkdownContent";

const postsPerPage = 5;

export async function getStaticPaths() {
  return config.collections.map((category) => {
    const { posts } = getCategoryData(category);
    const totalPages = Math.ceil(posts.length / postsPerPage);

    return {
      params: { category },
      props: {
        category,
        page: 1,
        totalPages,
        posts: posts.slice(0, postsPerPage),
      },
    };
  });
}

const { category, page, totalPages, posts } = Astro.props;
---

<Layout title={`All ${category}`}>
  <h1>{category} - Page {page} / {totalPages}</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/${category}/${post.file.split('/').pop()?.replace(/\.(md|mdx)$/, '')}`}>
          {post.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>
