---
import "@/styles/post.css";
import "@/styles/badgeList.css";
import { CONTENT_MAP } from "../../utils/getMarkdownContent";
import Layout from "../../layouts/Layout.astro";
import TOC from "../../components/post/TOC.astro";
import FloatingTOC from "../../components/post/FloatingTOC.astro";
import MediaArea from "../../components/post/MediaArea.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PostHeader from "../../components/post/PostHeader.astro";
import PostTags from "../../components/post/PostTags.astro";
import ItemReadAll from "../../components/post/ItemReadAll.astro";
import PostImage from "../../components/post/PostImage.astro";
import RelatedPost from "./RelatedPost.astro";

export async function getStaticPaths() {
  return Object.entries(CONTENT_MAP).flatMap(([collection, data]) =>
      data.posts.map((post: any) => {
        return {
          params: {
            collection,
            slug: post.file.split("/").pop()?.replace(/\.(md|mdx)$/, ""),
          },
          props: { post, collection },
        };
      })
  );
}

const { post, collection } = Astro.props;
const { frontmatter, Content } = post as any;
---

<Layout
    title={frontmatter.title}
    description={frontmatter.description || frontmatter.excerpt}
    type="article"
    publishedTime={frontmatter.date ? new Date(frontmatter.date).toISOString() : undefined}
    collection={collection}
>
  <!-- ✅ Breadcrumbs -->
  <Breadcrumbs collection={collection} title={post.frontmatter.title} />

  <article class="blog-post">
    <!-- ✅ PostHeader -->
    <PostHeader post={post} />

    <!-- Image Section -->
    <section class="image-area">
      <PostImage imageUrl={post.frontmatter.image} imageAlt={post.frontmatter.title} />
    </section>

    <!-- ✅ TOC -->
    <TOC post={post} />
    <FloatingTOC post={post} />

    <div class="post-content">
      <!-- ✅ Video, Audio -->
      <MediaArea frontmatter={frontmatter} />
    </div>

    <div class="post-content">
      <!-- ✅ Content -->
      <Content />
    </div>
  </article>

  <footer class="post-footer">
    <!-- ✅ Tags -->
    <PostTags frontmatter={frontmatter} />

    <ItemReadAll collection={collection} />
  </footer>

<!-- Related Post Section -->
  <RelatedPost tags={frontmatter.tags} notIncludedPostTitle={frontmatter.title} type={frontmatter.type} />
</Layout>
