---
import "@/styles/post/relatedPostList.css";
import "@/styles/post/postList.css";
import "@/styles/badge/badgeList.css";
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/page/Pagination.astro";
import { CONTENT_MAP } from "../../utils/getMarkdownContent";
import { config } from "@/config";
import ICONS_MAP, { type CollectionType } from "@/data/iconsMap";
import FlatTags from "../../components/post/FlatTags.astro";
import OtherPostList from "../../components/postList/OtherPostList.astro";
import BoxedPostList from "../../components/postList/BoxedPostList.astro";

export async function getStaticPaths() {
  return Object.entries(CONTENT_MAP).flatMap(([collection, data]) => {
    const posts = data.posts;
    const totalPages = Math.ceil(posts.length / config.postsPerPage);

    return Array.from({ length: totalPages }, (_, i) => ({
      params: { collection, page: String(i + 1) },
      props: {
        collection,
        posts,
        page: i + 1,
        totalPages,
        pageNum: parseInt(String(i + 1)),
      },
    }));
  });
}

const {
  collection,
  posts,
  page,
  totalPages,
  pageNum
} = Astro.props;

const prefix = `Danh sách`;
const title = config.categoryNames[collection as keyof typeof config.categoryNames];
const description = `${config.categoryDescriptions[collection as keyof typeof config.categoryNames]}`;
---

<Layout title={title} description={description} collection={collection}>
  <div class="blog-page">
<!-- Header Section -->
    <header class="blog-header">
      <h2 class="blog-title-medium">{prefix}{' ' + title}</h2>
      <p class="blog-description">
        {description} /
        <b class="pagination-text-accent">{page}</b>
      </p>
      <hr class="blog-rule" />
    </header>

<!-- Post List Section -->
    {posts.length > 0 ? (
        ICONS_MAP[collection]
            ? <BoxedPostList
                posts={posts}
                page={page}
                icons={ICONS_MAP[collection]}
            />
            : <OtherPostList posts={posts} page={page} />

         <!-- Pagination Section -->
        <Pagination page={pageNum} totalPages={totalPages} category={collection} />

<!-- All Collection Tags Section -->
        <FlatTags collection={collection} />

    ) : (
        <div class="no-posts">
          <p>Chưa có Bài viết nào.</p>
        </div>
    )}
  </div>
</Layout>
