---
import "@/styles/post/boxedPostList.css";
import "@/styles/post/postList.css";
import "@/styles/badge/badgeList.css";
import type { PostTitleWithSlug } from "@/types";
import { CONTENT_MAP } from "@/utils/getMarkdownContent";
import { config } from "@/config";
import ICONS_MAP, { type CollectionType } from "@/data/iconsMap";
import Layout from "@/layouts/Layout.astro";
import Pagination from "@/components/page/Pagination.astro";
import TagFilterButtons from "@/components/post/TagFilterButtons.astro";
import BoxedPostList from "@/components/postList/BoxedPostList.astro";
import OtherPostList from "@/components/postList/OtherPostList.astro";
import { toKebabCase } from "@/utils/helper";
import MasterBoxedPostList from "../../components/postList/MasterBoxedPostList.astro";

export async function getStaticPaths() {
  return Object.keys(CONTENT_MAP).map((collection) => {
    const posts = CONTENT_MAP[collection].posts;
    const titleList: PostTitleWithSlug[] = posts?.map(post => {
      const { frontmatter } = post as any;
      return {
        title: frontmatter?.title,
        slug: toKebabCase(frontmatter?.title),
      }
    });
    return {
      params: { collection },
      props: {
        collection: collection as CollectionType,
        posts,
        titleList,
        page: 1,
        totalPages: Math.ceil(posts.length / config.postsPerPage),
      },
    };
  });
}

const {
  collection,
  posts,
  titleList,
  page,
  totalPages
} = Astro.props;

const prefix = `Danh sách`;
const title = config.categoryNames[collection as keyof typeof config.categoryNames];
const description = `${config.categoryDescriptions[collection as keyof typeof config.categoryNames]}`;
---

<Layout title={title} description={description} collection={collection}>
  <div class="blog-page">
<!-- Header Section -->
    <header class="blog-header">
      <h2 class="blog-title-medium">{prefix}{' ' + title}</h2>
      <p class="blog-description">
        {description} /
        <b class="pagination-text-accent">{page}</b>
      </p>
      <hr class="blog-rule" />
    </header>

    <div>
      <!-- All Collection Tags Section -->
      <!--<TagFilterButtons collection={collection} />-->
    </div>

<!-- Post List Section -->
    {posts.length > 0 ? (
      ICONS_MAP[collection]
        ? collection === "masters"
          ? <MasterBoxedPostList
            collection={collection}
            titleList={titleList}
            posts={posts}
            page={page}
            icons={ICONS_MAP[collection]}
          />
          : <BoxedPostList
            collection={collection}
            titleList={titleList}
            posts={posts}
            page={page}
            icons={ICONS_MAP[collection]}
          />
        : <OtherPostList posts={posts} page={page} />

<!-- Pagination Section -->
        <Pagination page={1} totalPages={totalPages} category={collection} />

    ) : (
        <div class="no-posts">
          <p>Chưa có Bài viết nào.</p>
        </div>
    )}
  </div>
</Layout>
