---
import "@/styles/post/boxedPostList.css";
import "@/styles/post/postList.css";
import "@/styles/badge/badgeList.css";
import { CONTENT_MAP } from "@/utils/getMarkdownContent";
import { config } from "@/config";
import ICONS_MAP, { type CollectionType } from "@/data/iconsMap";
import Layout from "@/layouts/Layout.astro";
import Pagination from "@/components/page/Pagination.astro";
import FlatTags from "@/components/post/FlatTags.astro";
import BoxedPostList from "@/components/postList/BoxedPostList.astro";
import OtherPostList from "@/components/postList/OtherPostList.astro";

function toKebabCase(str: string): string {
  return str
    .normalize("NFD") // tách dấu khỏi ký tự (Ví dụ: "ấ" -> "a" + "̂")
    .replace(/[\u0300-\u036f]/g, "") // xoá toàn bộ dấu
    .toLowerCase()
    .trim()
    .replace(/[^a-z0-9\s-]/g, "") // xoá ký tự đặc biệt (chỉ giữ chữ, số, khoảng trắng, gạch ngang)
    .replace(/\s+/g, "-") // thay khoảng trắng bằng gạch ngang
    .replace(/-+/g, "-"); // gộp nhiều dấu "-" liên tiếp thành một
}

export async function getStaticPaths() {
  return Object.keys(CONTENT_MAP).map((collection) => {
    const posts = CONTENT_MAP[collection].posts;
    return {
      params: { collection },
      props: {
        collection: collection as CollectionType,
        posts,
        titleList: posts?.map(post => ({ 
         title: post?.title,
         slug: toKebabCase(post?.title),
        })),
        page: 1,
        totalPages: Math.ceil(posts.length / config.postsPerPage),
      },
    };
  });
}

const {
  collection,
  posts,
  titleList,
  page,
  totalPages
} = Astro.props;

const prefix = `Danh sách`;
const title = config.categoryNames[collection as keyof typeof config.categoryNames];
const description = `${config.categoryDescriptions[collection as keyof typeof config.categoryNames]}`;
---

<Layout title={title} description={description} collection={collection}>
  <div class="blog-page">
<!-- Header Section -->
    <header class="blog-header">
      <h2 class="blog-title-medium">{prefix}{' ' + title}</h2>
      <p class="blog-description">
        {description} /
        <b class="pagination-text-accent">{page}</b>
      </p>
      <hr class="blog-rule" />
    </header>

<!-- Post List Section -->
    {posts.length > 0 ? (
      ICONS_MAP[collection]
            ? <BoxedPostList
                list={titleList}
                posts={posts}
                page={page}
                icons={ICONS_MAP[collection]}
            />
            : <OtherPostList posts={posts} page={page} />

<!-- Pagination Section -->
        <Pagination page={1} totalPages={totalPages} category={collection} />

<!-- All Collection Tags Section -->
        <FlatTags collection={collection} />

    ) : (
        <div class="no-posts">
          <p>Chưa có Bài viết nào.</p>
        </div>
    )}
  </div>
</Layout>
