---
import "@/styles/post/boxedPostList.css";
import "@/styles/post/postList.css";
import "@/styles/badge/badgeList.css";
import { CONTENT_MAP } from "@/utils/getMarkdownContent";
import { config } from "@/config";
import ICONS_MAP, { type CollectionType } from "@/data/iconsMap";
import Layout from "@/layouts/Layout.astro";
import Pagination from "@/components/page/Pagination.astro";
import FlatTags from "@/components/post/FlatTags.astro";
import BoxedPostList from "@/components/postList/BoxedPostList.astro";
import OtherPostList from "@/components/postList/OtherPostList.astro";
import MasterBoxedPostList from "@/components/postList/MasterBoxedPostList.astro";

export async function getStaticPaths() {
  return Object.keys(CONTENT_MAP).map((collection) => {
    const posts = CONTENT_MAP[collection].posts;
    return {
      params: { collection },
      props: {
        collection: collection as CollectionType,
        posts,
        page: 1,
        totalPages: Math.ceil(posts.length / config.postsPerPage),
      },
    };
  });
}

const {
  collection,
  posts,
  page,
  totalPages
} = Astro.props;

const prefix = `Danh sách`;
const title = config.categoryNames[collection as keyof typeof config.categoryNames];
const description = `${config.categoryDescriptions[collection as keyof typeof config.categoryNames]}`;
---

<Layout title={title} description={description} collection={collection}>
  <div class="blog-page">
<!-- Header Section -->
    <header class="blog-header">
      <h2 class="blog-title-medium">{prefix}{' ' + title}</h2>
      <p class="blog-description">
        {description} /
        <b class="pagination-text-accent">{page}</b>
      </p>
      <hr class="blog-rule" />
    </header>

<!-- Post List Section -->
    {posts.length > 0 ? (
        ICONS_MAP[collection] && collection !== 'masters'
            ? <BoxedPostList
                posts={posts}
                page={page}
                totalPages={totalPages}
                icons={ICONS_MAP[collection]}
            />
            : collection === 'masters'
                ? <MasterBoxedPostList
                    posts={posts}
                    page={page}
                    totalPages={totalPages}
                    icons={ICONS_MAP[collection]}
                />
                : <OtherPostList posts={posts} page={page} />

<!-- Pagination Section -->
        <Pagination page={1} totalPages={totalPages} category={collection} />

<!-- All Collection Tags Section -->
        <FlatTags collection={collection} />

    ) : (
        <div class="no-posts">
          <p>Chưa có Bài viết nào.</p>
        </div>
    )}
  </div>
</Layout>
