---
import Layout from "../../layouts/Layout.astro";
import { CATEGORY_MAP } from "../../utils/getMarkdownContent";
import AllBadges from "../../components/post/AllBadges.astro";

const title = "📦 Category";
const type = "categories";
const description = "Xem tất cả Category";
const allCategories = Object.entries(CATEGORY_MAP);
---

<Layout title={title} description={description} showSidebar={true}>
  <div class="badges-page">
    <header class="page-header">
      <h1 class="page-title">{title}</h1>
      <hr class="page-rule" />
    </header>

    <AllBadges allBadges={allCategories} type={type} />
  </div>
</Layout>
