---
import { EXTRA_BLOG_CONFIG } from "../../config.ts";
import Layout from '../../layouts/Layout.astro';
import "@/styles/categoryList.css";
import {
  allPosts,
  getSortedTermsByType,
} from "../../utils/getMarkdownContent";

const base = import.meta.env.BASE_URL;
const title = "Categories";
const description = "Xem " + title;
const allCategories = getSortedTermsByType(allPosts, "categories");
const { pathCategory, noCategoryDescription } = EXTRA_BLOG_CONFIG;
---

<Layout title={title} description={description} showSidebar={true}>

  <div class="categories-page">
    <header class="page-header">
      <h1 class="page-title">{title}</h1>
      <hr class="page-rule" />
    </header>

    <div class="categories-grid">
      <h3>Tất cả Category</h3>
      {allCategories?.map(([category, posts]: [string, any[]]) => (
        <div class="category-card">
          <a href={`${base}${pathCategory}/${category.toLowerCase().replace(/[\/\s]+/g, '-')}`} class="category-link">
            <h2 class="category-title">{category}</h2>
            <p class="category-count">
              {posts.length} article{posts.length === 1 ? '' : 's'}
            </p>
          </a>
        </div>
      ))}
    </div>

    {allCategories?.length === 0 && (
      <div class="no-category">
        <p>{ noCategoryDescription }</p>
      </div>
    )}

  </div>
</Layout>
