---
import Layout from "../layouts/Layout.astro";
import YoutubePlaylist from '../components/YoutubePlaylist';
import Youtube from '../components/Youtube';
import youtubeDb from "../data/youtubeDb";
import youtubePlaylistDb from "../data/youtubePlaylistDb";

import Candles from "../components/Candles.astro";
const title = 'YOUTUBE';
const description = ``;
---

<Layout title={title} description={description}>
  <div class="about-page">
    <header class="page-header">
      <h1 class="page-title">{title}</h1>
      <hr class="page-rule" />
    </header>

    <div class="content-section">
      <section class="section-sm">
        <div class="container">
          <div style="display: flex; justify-content: space-between;">

            {
              youtubePlaylistDb?.map(list =>
                  <div style="flex: 1; padding-inline: 12px;">
                    <YoutubePlaylist playlistId={list.listId} playlistTitle={list.title} />
                  </div>
              )
            }

          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
