---
import "@/styles/badge/badge.css";
import Layout from '../layouts/Layout.astro';
import HtmlBlocks from "../components/ui/HtmlBlocks.astro";
import ZEN_AND_YOUTH from "../components/htmlData/ZEN_AND_YOUTH.astro";

const title = "Tổ Sư Thiền và Tuổi Trẻ";
const description = "Xem " + title;
const backgroundSrc = "/images/youth/Tổ-Sư-Thiền-và-Tuổi-Trẻ.avif";
---


<Layout title={title} description={description}>
  <div class="badge-page">
    <header class="page-header">
      <h1 class="page-title">{title}</h1>
      <h1 class="page-description">{description}</h1>
      <hr class="page-rule" />
      <img class="w-full" src={backgroundSrc} alt={"Tổ Sư Thiền và Tuổi Trẻ"} />
    </header>

    <div class="content-section">
      <!-- HtmlBlocks Section -->
      <HtmlBlocks>
        <ZEN_AND_YOUTH />
      </HtmlBlocks>
    </div>
  </div>
</Layout>

