---
import "@/styles/post/boxedMasterPostList.css";
import {config} from "@/config";
import PostExcerpt from "../post/PostExcerpt.astro";
import PostImage from "../post/PostImage.astro";
import Pagination from "../page/Pagination.astro";
import MasterTable from "../ui/MasterTable.astro";
import ABCLinkedTitleList from "@/components/ui/ABCLinkedTitleList.astro"

const {
    collection = "masters",
    posts,
    titleList = "Danh sách tiểu sử các Thiền sư",
    icons,
    page,
} = Astro.props;

const noPost ="📂 Danh sách trống";
const categoryName = config.categoryNames[posts[0].frontmatter.type as keyof typeof config.categoryNames] || posts[0].frontmatter.type;
const groupsBySpecialTag = posts?.map((post: any) => post.frontmatter?.tags[0]);
const groupsSorted = [
    groupsBySpecialTag.find((group: string) => group === 'Giới thiệu'),
    groupsBySpecialTag.find((group: string) => group === 'Chưa phân loại'),
    ...groupsBySpecialTag.filter((group: string) => !['Giới thiệu', 'Chưa phân loại']?.includes(group)),
];
const postsGroupedBySpecialTag = Array.from(new Set(groupsSorted))
    ?.filter((group: string | undefined): group is string => !!group) // bỏ undefined
    ?.map((group: string) => ({
            group: group,
            postsGrouped: posts.filter((post: any) => post.frontmatter?.tags?.length && post.frontmatter?.tags[0] === group),
    }))
    .filter((g) => g.postsGrouped.length > 0); // bỏ group không có bài;
---

{
    posts.length > 0 ? (
        postsGroupedBySpecialTag?.map((postGrouped: any) => {

            // Page & TotalPages
            const totalPagesBySpecialTag = Math.ceil(postGrouped?.postsGrouped?.length / config.postsPerPage);

            return (<h2 class="boxed-post-list-title-medium">
                {
                    ['Giới thiệu', 'Chưa phân loại']?.includes(postGrouped.group)
                        ? icons[postGrouped.group]
                        : icons['categorized']
                }
                {postGrouped.group}
            </h2>
            <div class="boxed-master-post-list">
                {postGrouped.postsGrouped
                    ?.slice((page-1)*config.postsPerPage, page*config.postsPerPage)
                    ?.map((post: any) =>
                        <div class="card">
                          <PostImage
                            imageUrl={post.frontmatter.image ?? '/images/unknown-zen-master.jpg'}
                            imageAlt={post.frontmatter.title}
                          />
                          <h3 class="boxed-post-title">
                            <a href={`/masters/${post.file.split("/").pop()?.replace(/\.(md|mdx)$/, "")}`}>
                              {post.frontmatter.title}
                            </a>
                          </h3>
                          <!--<h4 style="display: inline-block; position: relative">{ post.frontmatter.sect }</h4>-->
                          <div class="descp">
                            <PostExcerpt frontmatter={post.frontmatter}/>
                          </div>
                        </div>

<!--                      <article class="boxed-post-card">
                        <h4 class="boxed-post-title">
                            <a href={`/masters/${post.file.split("/").pop()?.replace(/\.(md|mdx)$/, "")}`}>
                                {post.frontmatter.title}
                            </a>
                        </h4>

                        &lt;!&ndash; Image Section &ndash;&gt;
                        <section class="image-area">
                      <PostImage
                      imageUrl={post.frontmatter.image ?? '/images/unknown-zen-master.jpg'}
                      imageAlt={post.frontmatter.title}
                      height="100px"/>
                        </section>

                        <div class="boxed-post-meta">
                            <PostExcerpt frontmatter={post.frontmatter}/>
                        </div>
                    </article>-->
                    )}
            </div>

                    <!-- Pagination Section -->
            <Pagination page={page} totalPages={totalPagesBySpecialTag} category={posts[0].frontmatter.type}/>)}
       )

    ) : <p>{noPost}</p>
}


{
    titleList?.length > 0 ? (

    <ABCLinkedTitleList collection={collection} posts={posts} titleList={titleList} listTitle={`DANH SÁCH ${categoryName}`} />

        ) : <p>{noPost}</p>
}

<MasterTable />