---
import "@/styles/post/relatedPostList.css";
import { CONTENT_MAP } from "../../utils/getMarkdownContent";
import {config} from "@/config";
import PostExcerpt from "../post/PostExcerpt.astro";

const { tags, type, notIncludedPostTitle } = Astro.props;
const base = import.meta.env.BASE_URL;

const posts = Object.entries(CONTENT_MAP)
    .flatMap(([collection, data]) => data.posts)
    .filter(post => post?.frontmatter.tags?.every((tag: string) => tags?.includes(tag)))
    .filter(post => post?.frontmatter.title !== notIncludedPostTitle);

const categoryName = config.categoryNames[type as keyof typeof config.categoryNames] || type;
const noPost ="📂 Danh sách trống";
---


{
    posts.length > 0 ? (
      <hr class="blog-rule" />
      <h2 class="blog-title-medium">{categoryName} liên quan</h2>
      <div class="related-posts">
        {posts.slice(0, config.postsPerPage).map((post: any) => {
          return (
              <article class="related-post-card">
                <h4 class="related-post-title">
                  <a href={`${base}${post.frontmatter.type}/${post.file.split("/").pop()?.replace(/\.(md|mdx)$/, "")}`}>
                    {post.frontmatter.title}
                  </a>
                </h4>

                <div class="related-post-meta">
                  <PostExcerpt frontmatter={post.frontmatter} />
                </div>
              </article>
          )
        })}
      </div>
    ) : <p>{noPost}</p>
}
