---
import { CATEGORY_MAP, TAG_MAP, CONTENT_MAP } from "../../utils/getMarkdownContent";
import "@/styles/sidebar.css";
import PostTitle from "../post/PostTitle.astro";
import NotificationBoard from "./NotificationBoard.astro";

const { collection } = Astro.props;

// fallback an toàn
const postsData = CONTENT_MAP[collection] || { posts: [], recentPosts: [] };
const categoriesData = CATEGORY_MAP[collection] || { categories: [], flatCategories: [] };
const tagsData = TAG_MAP[collection] || { tags: [], flatTags: [] };

const { recentPosts } = postsData;
const { flatCategories } = categoriesData;
const { flatTags } = tagsData;

const base = import.meta.env.BASE_URL;
---

<div class="sidebar-content">
  <!-- Recent Posts Section -->
  {recentPosts?.length > 0 && (
      <section class="recent-posts">
        <h3 class="section-title">Bài viết mới</h3>
        <ul class="post-list">
          {recentPosts.map(post => (
              <li class="post-item">
                <PostTitle post={post} />
              </li>
          ))}
        </ul>
      </section>
  )}

  <!-- Categories Section -->
  {flatCategories?.length > 0 && (
      <section class="badges">
        <h3 class="section-title">Chuyên mục</h3>
        <ul class="badge-list">
          {flatCategories.map((category: any) => (
              <li class="badge-item">
                <a href={`${base}categories/${category.toLowerCase()}`} class="badge-link">
                  {category}
                </a>
              </li>
          ))}
        </ul>
      </section>
  )}

  <!-- Tags Section -->
  {flatTags?.length > 0 && (
      <section class="badges">
        <h3 class="section-title">Tag</h3>
        <ul class="badge-list">
          {flatTags.map((tag: any)  => (
              <li class="badge-item">
                <a href={`${base}tags/${tag.toLowerCase()}`} class="badge-link">
                  {tag}
                </a>
              </li>
          ))}
        </ul>
      </section>
  )}
</div>


