---
import { calculateReadingTime, extractTextFromMarkdown } from "../../utils/reading-time";
import PdfViewer from "../ui/PdfViewer.astro";
import SpeechViewer from "../ui/SpeechViewer.astro";


const { post } = Astro.props;

const rawContent = post.body || post.rawContent?.() || "";
const plainText = extractTextFromMarkdown(rawContent);
const readingTime = calculateReadingTime(plainText);
---

<span class="post-reading-time">
    ⌛️
    {readingTime}

    <!-- PDF Viewer -->
    {
        post.frontmatter.pdfUrl && <PdfViewer pdfUrl={post.frontmatter.pdfUrl} title={post.frontmatter.title} />
    }
    {
        post.frontmatter.type === 'masters' && <SpeechViewer pdfUrl={post.frontmatter.pdfUrl} title={post.frontmatter.title} />
    }
</span>
