---
interface Item {
  question: string;
  answer: string;
}

interface Props {
  title: string;
  subtitle: string;
  mobileTitle: string;
  items: Item[];
}

const { title, subtitle, mobileTitle, items } = Astro.props;
---

<sy-faqs>
  <div class="u-container container">
    <div class="content">
      <h2 class="u-heading" data-sy-reveal="words">
        <span>{title}</span>
        <span aria-hidden>{mobileTitle}</span>
      </h2>
      <p class="u-text subtitle" data-sy-reveal="lines">{subtitle}</p>
    </div>

    <div class="faqs">
      {
        items.map((item, i) => (
          <div class="faq">
            <div class="question">
              <h3 class="u-text" id={`faq-header-${i}`}>
                <button
                  class="toggle"
                  type="button"
                  aria-controls={`faq-panel-${i}`}
                  aria-expanded="false"
                >
                  <span class="question-text" data-sy-reveal="words">
                    {item["question"]}
                  </span>
                  <span />
                </button>
              </h3>
            </div>
            <div
              class="panel"
              id={`faq-panel-${i}`}
              aria-labelledby={`faq-header-${i}`}
              hidden
            >
              <div class="answer u-text">{item["answer"]}</div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</sy-faqs>

<script>
  import gsap from "gsap";

  class Faqs extends HTMLElement {
    connectedCallback() {
      const that = this;

      function onCick(e: Event) {
        e.preventDefault();
        const btn = e.currentTarget as HTMLElement;
        const faq = btn.parentElement!.parentElement!.parentElement!;

        const expanded = btn.getAttribute("aria-expanded") === "true" || false;

        const opened = that.querySelector(".is-opened") as HTMLElement;

        if (opened && opened !== faq) {
          toggle(opened, false);
        }

        toggle(faq, !expanded);
      }

      function toggle(faq: HTMLElement, expanded: boolean) {
        const btn = faq.querySelector(".toggle") as HTMLElement;
        const panel = faq.querySelector(".panel") as HTMLElement;

        faq.classList.toggle("is-opened", expanded);
        btn.setAttribute("aria-expanded", expanded ? "true" : "false");

        panel.hidden = !expanded;

        gsap.to(panel, {
          duration: 0.4,
          ease: "power3.inOut",
          height: expanded ? "auto" : 0,
        });
      }

      this.querySelectorAll(".toggle").forEach((btn) => {
        btn.addEventListener("click", onCick);
      });
    }
  }

  customElements.define("sy-faqs", Faqs);
</script>

<style>
  sy-faqs {
    display: block;
    overflow: hidden;
    margin: 8rem 0;
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .content {
    text-align: center;
    margin-bottom: 3rem;
  }

  h2 {
    --fs: 3rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.1em;

    span:last-child {
      display: none;
    }

    @media (--mq-phone) {
      --fs: 2.5rem;
    }
  }

  .subtitle {
    --fs: var(--font-size-lg);
    color: var(--color-text-alt);
  }

  .faqs {
    max-width: 36rem;
    display: flex;
    flex-direction: column;
  }

  .faq {
    padding: 1.5rem 0;
    position: relative;
    border: solid rgba(var(--rgb-text), 0.2);
    border-width: 1px 0 0;

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  .panel {
    position: relative;
    z-index: 2;
    display: block;
    height: 0;
    overflow: hidden;
    will-change: height;
  }

  .answer {
    --fs: var(--font-size-sm);
    margin-top: 0.75rem;
    white-space: preserve-breaks;
    padding-left: calc(1rem + 0.75rem);
    color: var(--color-text-alt);
  }

  h3 {
    --fs: var(--font-size-lg);
    --fw: 500;
    --ls: -0.02em;

    button {
      font: inherit;
      letter-spacing: inherit;
    }
  }

  .toggle {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    gap: 1rem;
    flex-direction: row-reverse;

    > span:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0.75rem;
      height: 0.75rem;
      position: relative;

      &::before,
      &::after {
        content: "";
        background: var(--color-brand-1);
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 99px;
        transform: translateZ(0);
        transition: transform 0.2s var(--ease-in-out-cubic);
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  :global(.faq.is-opened .toggle > span) {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }
</style>
