---
import Logo from "../assets/logo.svg";
import type { Link } from "../types";

interface Props {
  logoUrl: string;
  logoAlt: string;
  links: Link[];
}

const { logoUrl, logoAlt, links } = Astro.props;
---

<sy-footer>
  <footer>
    <div class="inner u-container">
      <div class="wrapper">
        <a class="logo" href={logoUrl}>
          <Logo />
          <span class="u-sr-only">{logoAlt}</span>
        </a>

        <div class="menu">
          <ul>
            {
              links.map((l) => (
                <li>
                  <a href={l.url}>{l.title}</a>
                </li>
              ))
            }
          </ul>
        </div>
        <p class="cp">© {new Date().getFullYear()} {logoAlt}</p>
      </div>
    </div>
  </footer>
</sy-footer>

<style>
  sy-footer {
    @extend %u-text;

    --fs: var(--font-size-sm);
    display: block;
    clip-path: inset(0);

    :global(&.has-no-anim footer) {
      position: static;
    }
  }

  footer {
    background: #1f2023;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .inner {
    padding: 2rem 0;
  }

  .logo {
    position: relative;
    z-index: 3;

    svg {
      width: 4.8rem;
      height: 1.5rem;

      :global(path) {
        fill: currentcolor;
      }
    }
  }

  .menu {
    ul {
      display: flex;
      padding: 0;
      gap: 1rem;
      margin: 0;
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          background: currentcolor;
          top: 115%;
          width: 100%;
          left: 0;
          pointer-events: none;
          transform: scaleX(0);
          transition: transform 0.3s var(--ease-out-expo);
          transform-origin: right;
        }

        &:hover,
        &:focus {
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (--mq-tablet) {
      flex-direction: column;
    }
  }
</style>

<script>
  import { addResizeObserver } from "../utils/observers";

  class Footer extends HTMLElement {
    connectedCallback() {
      addResizeObserver(this);

      this.onResize();
    }

    onResize() {
      const inner = this.firstElementChild as HTMLElement;
      const bcr = inner.getBoundingClientRect();

      if (bcr.height + 100 > window.innerHeight) {
        this.style.height = "";
        this.classList.add("has-no-anim");
      } else {
        this.style.height = `${bcr.height}px`;
        this.classList.remove("has-no-anim");
      }
    }
  }

  customElements.define("sy-footer", Footer);
</script>
