---
import Button from "./Button.astro";
import type { Link } from "../types";

interface Item {
  title: string;
  price: {
    amount: string;
    duration: string;
  };
  link: Link;
  features: {
    title: string;
    disabled?: boolean;
  }[];
}
interface Props {
  title: string;
  subtitle: string;
  items: [Item, Item];
}

const { title, subtitle, items } = Astro.props;
---

<div class="sy-plans">
  <div class="u-container">
    <div data-gl-place data-gl-place-factor="1.5"></div>

    <h2 class="u-heading title" data-sy-reveal="words">{title}</h2>
    <p class="u-text subtitle" data-sy-reveal="lines">{subtitle}</p>

    <div class="plans">
      {
        items.map((item, i) => (
          <div class="plan">
            <div class="plan-inner">
              <h3 class="u-text plan-title" data-sy-reveal="words">
                {item.title}
              </h3>
              <p class="u-heading price">
                <span data-sy-reveal="words">{item.price.amount}</span>
                <span class="duration u-text" data-sy-reveal="words">
                  /{item.price.duration}
                </span>
              </p>
              <ul class="u-text features">
                {item.features.map((feat) => (
                  <li
                    class:list={[!feat.disabled && "available"]}
                    data-sy-reveal="lines"
                  >
                    {feat.title}
                  </li>
                ))}
              </ul>
              <Button
                {...item.link}
                color={i === 0 ? "primary-alt" : "primary"}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  [data-gl-place] {
    --d: 1;
    --s: 18.75rem;
    margin: 3rem auto 5rem;

    @media (--mq-tablet) {
      --s: 16rem;
    }
  }

  @keyframes plan-border {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(365deg);
    }
  }
  .sy-plans {
    margin: 2rem 0;
    position: relative;
    z-index: 2;
  }

  .title {
    --fs: 3rem;

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.1em;
  }

  .subtitle {
    --fs: var(--font-size-md);
    color: var(--color-text-alt);
    max-width: 32em;
    text-align: center;
    margin: 0 auto 2em;
  }

  .plans {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @media (--mq-tablet-sm) {
      align-items: center;
      flex-direction: column;
    }
  }

  .plan {
    border-radius: 1rem;
    max-width: 20rem;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 2px;
    background: var(--color-white);
    overflow: hidden;

    &:last-child {
      background: transparent;
      &:after {
        background: linear-gradient(
          135deg,
          var(--color-brand-3) 0%,
          var(--color-brand-1) 100%
        );
        border-radius: 1rem;
        content: "";
        height: 200%;
        width: 200%;
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: -1;
        animation: plan-border 5s linear infinite;
      }
    }
  }

  .plan-inner {
    background: var(--color-white);
    border-radius: 0.9rem;
    padding: 2rem;
  }

  .plan-title {
    --fs: var(--font-size-md);
    --fw: 500;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 0.1em;
    margin: 0;
    --fs: 3rem;
    --fw: 400;
  }

  .duration {
    --fs: var(--font-size-sm);
    padding-top: 0.5em;
  }

  .features {
    --fs: var(--font-size-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
    margin: 2rem 0;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: var(--color-text-alt);

      &:before {
        opacity: 0;
        transition: opacity 0.3s var(--ease-out-cubic);
        background: currentColor;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='253' height='251' fill='%23000' viewBox='0 0 253 251'%3E%3Cpath d='M250.06 8.59a17.57 17.57 0 0 0-28.72-2.11L92.92 164.79a7.5 7.5 0 0 1-11.97-.42l-30.77-43.92a27.8 27.8 0 0 0-45.52 31.87l62.97 89.95a19.22 19.22 0 0 0 31.53-.03l18.07-25.97 132.1-188.66a17.56 17.56 0 0 0 .7-19.02h.03Z'/%3E%3C/svg%3E%0A")
          no-repeat center / contain;
        width: 0.6em;
        height: 0.6em;
        content: "";
        display: block;
      }

      &.is-in:before {
        opacity: 1;
      }

      &.available {
        color: var(--color-brand-5);
      }
    }
  }
</style>
