---
import { config } from "../../config";

const categoryNames = config.categoryNames;
const { collection, title } = Astro.props;
---

<nav aria-label="Breadcrumb" class="breadcrumbs">
    <ol>
        <li><a href="/public">Trang chủ</a></li>
        {
            ['Tất cả category', 'Tất cả tag'].includes(collection)
                ? <li><a href={`/${collection}`}>{collection}</a></li>
                : <li><a href={`/${collection}`}>{categoryNames[collection]}</a></li>
        }
        <li aria-current="page">{title}</li>
    </ol>
</nav>

<style>
    .breadcrumbs {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        color: var(--color-text-primary);
    }
    .breadcrumbs ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
    }
    .breadcrumbs li::after {
        content: "/";
        margin: 0 0.5rem;
        color: var(--color-text-secondary);
    }
    .breadcrumbs li:last-child::after {
        content: "";
    }
    .breadcrumbs a {
        text-decoration: none;
        color: var(--color-accent-gold);
    }
    .breadcrumbs a:hover {
        text-decoration: underline;
    }
</style>
