---
// Google Sheet
const sheetGoogleId = "1VGF6Zbrtwd85pic1JWw1008sYasZhQfiVPPsOkX-GJ";
const urlGoogle = `https://docs.google.com/spreadsheets/d/${sheetGoogleId}/gviz/tq?tqx=out:json`;
const res = await fetch(urlGoogle);
const text = await res.text();
const json = JSON.parse(text.substr(47).slice(0, -2)); // Google trả về JSON "lạ"
const rowsGooglesheet = json.table.rows.map((r:any) => r.c.map((c:any) => c?.v ?? ""));

// Open Sheet
const tabName = "Patriarchal_Zen_Masters";
const urlOpensheet = `https://opensheet.elk.sh/${sheetGoogleId}/${tabName}`;
const response = await fetch(urlOpensheet);
const rowsOpensheet = await response.json();
---

<table border="1">
    <thead>
        <tr>
            <!-- Google-->
            <!--{Object.keys(rowsGooglesheet[0] || {}).map(key => <th>{key}</th>)}-->

            <!-- Open-->
            {Object.keys(rowsOpensheet[0] || {}).map(key => <th>{key}</th>)}
        </tr>
    </thead>
    <tbody>
        <!-- Google-->
        <!--      {rowsGooglesheet.map((r:any) => (
                  <tr>
                    {r.map((cell:any) => <td>{cell}</td>)}
                  </tr>
              ))}-->

        <!-- Open-->
        {rowsOpensheet.map((row:any) => (
                <tr>
                    {Object.values(row).map(value => <td>{value}</td>)}
                </tr>
        ))}
    </tbody>
</table>

<style>

</style>
