---
import LogoYoutube from "../svg/LogoYoutube.astro";
import YoutubeSVG from "../svg/YoutubeSVG.astro";

// Get the frontmatter data
const { frontmatter } = Astro.props;
---

<div class="mb-8 space-y-6">
    {
        // Single video
        frontmatter?.videoId && (
          <div class="video-container">
              <iframe
                src={`https://www.youtube.com/embed/${frontmatter.videoId}?start=${frontmatter.videoStart ? frontmatter.videoStart : 0}`}
                title={frontmatter.title}
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="100%"
              ></iframe>
          </div>
    )
    }

    {
        // Multiple videos
        frontmatter?.videoIds?.length &&
          frontmatter?.videoIds?.map((id: any, index: number) => (
            <div class="video-container">
                <iframe
                  src={`https://www.youtube.com/embed/${id}?start=${frontmatter.videoStarts?.length ? frontmatter.videoStarts[index] : 0}`}
                  title={`${frontmatter.title} - ${index + 1}`}
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  width="100%"
                ></iframe>
            </div>
          ))
    }

    {
        // YouTube playlist
        frontmatter?.videoPlaylist && (
          <div class="video-container playlist">
              <iframe
                src={`https://www.youtube.com/embed/videoseries?list=${frontmatter.videoPlaylist}`}
                title={frontmatter.title + " playlist"}
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="100%"
              ></iframe>
          </div>
      )
    }

    {
        // Single audio
        frontmatter?.audioUrl && (
          <div>
              <h3 class="text-xl font-bold mb-4" title="Listen">🎧</h3>
              <video width="640" height="360" controls poster="/cover.jpg">
                  <source src={frontmatter.audioUrl} type="audio/mpeg" />
                  <track src={frontmatter.vtt} kind="subtitles" srclang="en" label="Lyrics" default />
              </video>
          </div>
    )
    }

    {
        // Multiple audios
        frontmatter?.audioUrls?.length &&
          frontmatter?.audioUrls?.map((url: any, index: number) => (
            <div class="audio-block">
                {index === 0 ? <h3 class="audio-heading" title="Listen">🎧</h3> : ''}
                <h4 class="audio-subheading" title={url}>{index + 1}</h4>
                <audio controls class="audio-player">
                    <source src={url} type="audio/mpeg" />
                    Your browser does not support the audio element.
                </audio>
            </div>
          ))
    }
</div>

<style>
    /* Playlist container */
    .video-container {
        position: relative;
        width: 100%;
        height: 500px; /* fix chiều cao */
        border-radius: 8px;
        overflow: hidden;
        margin-block: calc(var(--grid-unit) * 2);
    }

    .video-container iframe {
        width: 100%;
        border: 0;
        margin-block: calc(var(--grid-unit) * 1);
    }

    /* Khi trên 768px (PC)
    /* Mobile breakpoint */
    @media (min-width: 769px) {
        .video-container iframe {
            min-height: 500px;
        }

    /* Khi dưới 768px (mobile)
    /* Mobile breakpoint */
    @media (max-width: 768px) {
        .video-container {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;

            iframe {
                height: auto;
            }

        }
    }
</style>
